


* {
    border: 1px solid #8BC34A;
}

html {
    font-family: ;
    font-size: 1rem;

}

body {
    display:flex;
    justify-content: center;
}

.calculator {
     border: 4px solid  rgb(255,100,0);
 
}

.display {
   padding: 1rem; 

}

button {
    padding: 1.5rem;
}